@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

* {
	margin: 0;
}

.App {
	text-align: start;
}

::selection {
	background-color: rgb(242, 230, 255);
}

.header {
	text-decoration: underline;
	letter-spacing: 8px;
	padding-top: 20px;
	padding-left: 40px;
	font-family: "Montserrat", sans-serif;
	font-size: 70px;
	color: bisque;
	cursor: crosshair;
}

.header:hover {
	padding-top: 20px;
	padding-left: 40px;
	font-family: "Montserrat", sans-serif;
	font-size: 70px;
	color: gold;
}

#basic-navbar-nav {
	font-family: "Montserrat", sans-serif;
	background-color: #f8f9fa;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 0;
}

.brand {
	animation-name: quirkyLogo;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: 0.2s;
	animation-direction: alternate-reverse;
	margin-left: 50px;
	margin-right: 50px;
}

@keyframes quirky {
	0% {
		transform: translateY(-2px) skewX(-10deg);
	}

	100% {
		transform: translateY(2px) skewX(0deg);
	}
}

@keyframes quirkyLogo {
	100% {
		transform: translateX(15px);
	}
}

@media (max-width: 350px) {
	.brand {
		animation-name: quirkyLonger;
	}
}

.NavBar {
	font-family: "Montserrat", sans-serif;
}

.animateK {
	color: black;
	animation-name: animationK;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-direction: alternate-reverse;
}

.animateI {
	display: inline-block;
	animation: animationI 3s cubic-bezier(0.8, 0.2, 0.2, 0.8);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes animationK {
	0% {
		color: black;
	}

	12.5% {
		color: rgb(32, 32, 32);
	}

	25% {
		color: rgb(64, 64, 64);
	}

	37.5% {
		color: rgb(96, 96, 96);
	}

	50% {
		color: rgb(128, 128, 128);
	}

	67.5% {
		color: rgb(160, 160, 160);
	}

	75% {
		color: rgb(192, 192, 192);
	}

	87.5% {
		color: rgb(222, 222, 222);
	}

	100% {
		color: rgb(222, 222, 222);
		/* color: rgb(255, 255, 255); */
	}
}

@keyframes animationI {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.AboutMeIntroBox {
	background: linear-gradient(60deg, #ccffff, #ffcccc);
	border-radius: 20%;
	position: relative;
	top: -200px;
	height: 600px;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	animation: transitionStart 1s ease;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.AboutMeEduBox {
	font-family: "Montserrat", sans-serif;
	background-color: bisque;
	position: relative;
	top: -200px;
	height: 800px;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	animation: transitionStart 1s ease;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.skillz {
	margin-top: 1vh;
}

@keyframes transitionStart {
	from {
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1;
	}
}

ul {
	list-style: none;
}

button {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
}

.players {
	margin-left: 40px;
	display: flex;
	flex-direction: row;
}

.players2 {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}

.playerOnLeft {
	padding-top: 0px;
}

.playerOnRight {
	padding-top: 0px;
}

.aboutBox {
	display: flex;
	width: 500px;
	background: rgb(255, 255, 219);
}

.rightSection {
	font-family: "Montserrat", sans-serif;
	padding-top: 250px;
	padding-left: 100px;
	width: 150px;
}

.rightSection2 {
	opacity: 0.7;
	font-family: "Montserrat", sans-serif;
	padding-top: 250px;
	padding-left: 100px;
	width: 150px;
}

.skillsSection {
	margin-left: -40px;
	color: dodgerblue;
	display: flex;
	flex-direction: row;
	cursor: default;
	width: 350px;
	height: 600px;
	background: #2f1e2e;

	/* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2); */
}

.skills {
	display: flex;
	flex-direction: column;
}

.skills .box {
	position: relative;
	width: 100px;
	height: 45px;
	margin-top: 20px;
	margin-bottom: 40px;
	background: white;
	align-items: center;
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.skills .box:hover {
	background: gold;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.programs .box {
	position: relative;
	width: 120px;
	height: 45px;
	margin-top: 20px;
	margin-bottom: 40px;
	background: white;
	align-items: center;
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.programs .box:hover {
	background: midnightblue;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.programs {
	color: brown;
}

.HireContainer {
	margin-top: 10px;
	margin-left: 40px;
	padding: 10px;
	color: dodgerblue;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	cursor: default;
	width: 350px;
	height: 145px;

	background: #012340;
}

.HireContainer .HCTop {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
}

.HireContainer .HCBtm {
	padding-top: 100px;
}

.WelcomeContainer {
	padding-left: 40px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 15vh;
	background: #ffffff;
	color: rgb(97, 97, 97);
}

.logo {
	margin-left: 0;
	width: 150px;
	height: 80px;
}

.nav-links {
	font-family: "Montserrat", sans-serif;
	font-size: max(3.5vw, 8px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background: #ff3232;
	background: linear-gradient(to bottom, white 50%, #2f1e2e 50%);
	background-size: 1px 300px;
	background-position: top;
	transition: all 0.4s linear;
}

.nav-links:hover {
	background-position: bottom;
}

/* .nav-links .c::before {
	float: left;
	opacity: 0;
	content: "\00bb";
	text-decoration: none;
	transition: opacity 2s ease;
} */

.nav-links .c::before {
	position: absolute;
	content: "";
	bottom: 15px;
	opacity: 1;
	width: 16%;
	height: 2px;
	background-color: #2f1e2e;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.25s ease;
}

.nav-links .c:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

/* .nav-links .c:hover::after {
	opacity: 1;
	transition: 1s;
} */

.csg {
	padding: 0;
	height: 150px;
	width: 200px;
}

.user {
	align-content: center;
	height: 40px;
	width: 40px;
}
.user:hover {
	height: 40px;
	width: 40px;
}

.folder {
	height: 40px;
	width: 40px;
}

.contract {
	height: 40px;
	width: 40px;
}

.rea {
	height: 50px;
	width: 50px;
}

.IntroText {
	opacity: 0;
	margin-left: -500px;
	padding-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 28px;
	font-size: 5vh;
	color: #012340;
	animation: op 1s linear, slide 1.5s cubic-bezier(0.1, 1, 0.3, 2);
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.IntroText2 {
	opacity: 0;
	margin-left: 0px;
	padding-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 28px;
	font-size: 5vh;
	color: #012340;
	animation: op 1s linear, animationSpinIn 3s infinite;
	transform-origin: center;
	transform-box: fill-box;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.IntroTextJump {
	position: relative;
	display: inline-block;

	animation: animationVibrate 0.33s infinite;
	animation-direction: alternate;
	animation-delay: 1.8s;
}
.shine {
	position: relative;
	display: inline-block;
}

.shine2 {
	position: relative;
	display: inline-block;
}

.shine2::before {
	z-index: -1;
	opacity: 0;
	position: absolute;
	content: "";
	bottom: 2vh;
	width: 100%;
	background-color: #86a7ad;
	height: 2vh;
	animation: shine2 2s infinite;
	animation-direction: alternate-reverse;
	animation-delay: 2.46s;
}

.shine::before {
	box-shadow: 10px 10px;
	z-index: -1;
	opacity: 0;
	position: absolute;
	content: "";
	bottom: -0.5vh;
	width: 50%;
	background-color: #ffffff;
	height: 2vh;
	animation: shine 2s infinite;
	animation-direction: alternate-reverse;
	animation-delay: 2.46s;
}

.IntroTextJump::before {
	opacity: 0;
	position: absolute;
	content: "";
	bottom: -0.3vh;
	width: 95%;
	background-color: #012340;
	height: 1vh;
	animation: boop 0.66s infinite;
	animation-delay: 2.46s;
}

@keyframes boop {
	0% {
		transform: scaleY(1) translateY(-4px);
		opacity: 1;
	}

	100% {
		transform: scaleY(0.1) translateY(4px);
		opacity: 0;
	}
}

@keyframes shine {
	0% {
		transform: scaleY(1) translateX(-1vw);
		opacity: 1;
	}

	100% {
		transform: scaleY(1) translateX(8vw);
		opacity: 1;
	}
}

@keyframes shine2 {
	0% {
		transform: scaleY(2) translateY(1vh);
		opacity: 1;
	}

	100% {
		transform: scaleY(1) translateY(2vh);
		opacity: 0.6;
	}
}

@keyframes animationVibrate {
	from {
		bottom: 0px;
	}
	to {
		bottom: 5px;
	}
}

@keyframes animationSpinIn {
	0% {
		opacity: 0;
		transform: rotateX(180deg);
	}
	70% {
		opacity: 1;
		transform: rotateX(360deg);
	}

	100% {
		opacity: 0;
		transform: rotateX(360deg);
	}
}

@keyframes slide {
	from {
	}

	to {
		margin-left: 0;
	}
}

@keyframes op {
	from {
	}

	to {
		opacity: 1;
	}
}

.genericText {
	padding-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	color: #012340;
}

.genericText2 {
	padding-top: 1px;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	color: #012340;
}

.geneList {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: dodgerblue;
}

.degreeHead {
	font-family: "Cinzel", serif;
	font-size: 24px;
	color: black;
}

.withDist {
	font-family: "Cinzel", serif;
	font-weight: bold;
	font-size: 20px;
	color: goldenrod;
}

.withDist:hover {
	font-family: "Cinzel", serif;
	font-weight: bold;
	font-size: 20px;
	color: gold;
}

input[type="text"] {
	width: 200px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: rgb(212, 212, 212);
	color: black;
}

input[type="email"] {
	width: 200px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: rgb(212, 212, 212);
	color: black;
}

.btnUp {
	/* opacity: 0.5; */
}

.containerm {
	position: relative;
	color: white;
}

.containerm::after {
	content: "";
	opacity: 0.6;
	background: linear-gradient(cyan, gold);
	background-blend-mode: luminosity;
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	height: 100%;
}

.containerm:hover {
	filter: blur(5px);
	opacity: 0.8;

	background-blend-mode: lighten;
}

html,
body {
	height: 100%;
	margin: 0;
}

.content {
	min-height: calc(100vh - 70px);
	padding-bottom: 20px;
}

.footer {
	height: 70px;
	background: #2f1e2e;
	text-align: center;
}

.footer:hover {
	background: #ed5069;
}

.row {
	padding-bottom: 30px;
}
